<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre!</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/418aba2bb0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="headerPrincipal">
        <div class="headerAlto">
                <img class="imagenLogotipo" src="img/logo-mercado-liebre.svg">
            <div class="searchBar">
                <form action="" method="GET">
                    <input class="barra" placeholder="Buscar productos y marcas..." type="search" id="site-search" name="q">
                    <button class="buttonbar"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <h2 class="Texto-header-alto">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #050505;"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
            <a href="" class="boton-mobile">
                <i class="fa-solid fa-bars"></i>
            </a>
        <nav class="headerBajo">
            <ul class="nav-izquierda">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>    
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-derecha">
            <li ><a href="">Creá tu cuenta</a>
                <div class="fa-solid fa-user" style="color: #030303;"></div>
            </li>
            <li><a href="">Ingresá</a>
                <div class="fa-sharp fa-solid fa-right-to-bracket" style="color: #050505;"></div>
            </li>
            <li><a href="">Mis compras</a>
                <div class="fa-sharp fa-solid fa-cart-shopping" style="color: #050505;"></div>
            </li>
        </ul>
        </nav>
    </header>
    <div>
        <img class="imagenHome" src="img/img-home-banner.jpg">
        
    </div>

<main class="mainPrincipal">
    <h3 class="primer-texto">
        Basado en tu última visita
    </h3>
    <div class="seccion-main-up">
        <ul class="producto1">
            <img class="imagenes2" width="200" height="200" src="img/img-macbook-pro-2019.jpg">
            <div>
            <li class="precio">$1.100.000</li>
            <li class="descuento">10% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">MacBook Pro 2019</li>
            
        </ul>
        <ul class="producto2">
            <img width="200" height="200" src="img/img-cafetera-moulinex.jpg">
            <div>
            <li class="precio">$51.290</li>
            <li class="descuento">10% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">Cafetera moulinex</li>
        </ul>
        <ul class="producto3">
            <img  width="200" height="200" src="img/mouse-gamer-fondowhite.webp">
            <div>
            <li class="precio">$103.999</li>
            <li class="descuento">0% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">Mouse gamer Mad Catz</li>
        </ul>
        <ul class="producto4">
            <img width="200" height="200" src="img/mouse-gamer2fondowhite.webp">
            <div>
            <li class="precio">$10.124</li>
            <li class="descuento">10% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">Teclado gamer Razer</li>
        </ul>
    </div>
    <h3 class="segundo-texto">
        Sección de ofertas
    </h3>
    <div class="seccion-main-down">
        <ul class="producto-oferta1">
            <img width="200" height="200" src="img/img-tv-samsung-smart.jpg">
            <div>
            <li class="precio">$84.999</li>
            <li class="descuento">30% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">Smart TV Samsung 32"</li>
        </ul>
        <ul class="producto-oferta2">
                <img width="200" height="200" src="img/img-samsung-galaxy-s10.jpg">
                <div>
                <li class="precio">$110.999</li>
                <li class="descuento">30% off</li>
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                </div>
                <li class="articulo tele">Samsung galaxy S10</li>
        </ul>
        <ul class="producto-oferta3">
            <img width="200" height="200" src="img/cocinaML.webp">
            <div>
            <li class="precio">$259.999</li>
            <li class="descuento">25% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">Cocina Electroluz 56DBQ</li>
        </ul>
        <ul class="producto-oferta4">
            <img width="200" height="200" src="img/lavarropasML.webp">
            <div>
            <li class="precio">$128.299</li>
            <li class="descuento">25% off</li>
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
            </div>
            <li class="articulo">lavarropas automatico Digifit</li>
        </ul>
    </div>
</main>
<br>
<br>
<br>
<footer>
    <div class="pie-de-pagina">
    <div class="parrafo1">
     <i class="fa-solid fa-credit-card fa-2xl" style="color: #03264C;"></i>
        <p><strong>Pagá con tarjeta o efectivo</strong></p>
        <p class="parrafo"> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta
            o efectivo en puntos de pago. ¡y siempre es seguro!</p>
    </div> 
    <div class="parrafo2">      
        <i class="fa-solid fa-gift fa-2xl" style="color: #03264C;"></i>    
        <p><strong>Envio gratis desde los $2500</strong></p>
        <p class="parrafo"> Solo por estar registrado en Mercado Liebre tenés 
            envios gratis en miles de productos.
            Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="parrafo3">
        <i class="fa-solid fa-user-shield fa-2xl" style="color: #03264C;"></i>
        <p><strong>Seguridad de principio a fin</strong></p>
        <p class="parrafo"> ¡No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas 
            hacer porque estás siempre protegid@.</p>
    </div>
    </div>
    <br>
    <br>
        <p class="copyright">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
    </footer>
    <script src="https://kit.fontawesome.com/418aba2bb0.js" crossorigin="anonymous"></script>
</body>
</html>